.slide-pane_overlay2 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .slide-pane_overlay2.overlay-after-open {
    background-color: rgba(0, 0, 0);
    transition: background-color 0.5s;
  }
  .slide-pane_overlay2.overlay-before-close {
    background-color: rgba(0, 0, 0, 0);
  }